<h2 class="page-header">Welcome, <%= @user.username %>!</h2>

<div class="row">
	<div class="col-md-9">
		<!-- Get posts for that user -->
		<h3 class="page-header">Posts</h3>
		<% @user.posts.each do |post| %>
			<div class="row">
				<a class="col-md-3" href="<%= post_path(post) %>">
					<h4><%= post.description %></h4>
					<span class="badge"><%= post.comments.length %> comments</span>
				</a>
				<div class="col-md-9 code-snippit"><%= markdown(post.snippit, post.language) %></div>
			</div>
		<% end %>
	</div>

	<div class="col-md-3" style="position:fixed;right:0;">
		<div class="user-show-image">
			<%= image_tag make_avatar_url(@user) %>
		</div>
		<div class="user-show-info">
			<p>Joined <%= @user.created_at.strftime("%B %d, %Y") %></p>
			<p><%= @user.posts.length %> posts</p>
			<div class="user-show-tags">
				<% get_tags_for_user(@user).each do |tag| %>
					<span class="label label-success"><%= tag %></span>
			  	<% end %>
		  	</div>
		</div>
		<br>
		<div class="user-btns">
			<a class="user-show-btn" href="<%= new_photo_path %>">
				<button action="" type="button" class="btn btn-default btn-md">
					<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
				</button>
			</a>
			<a class="user-show-btn" href="<%= edit_path %>">
				<button action="" type="button" class="btn btn-default btn-md">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				</button>
			</a>
		</div>

	</div>
</div>



