<%# app/views/posts/_feed.html.erb %>
<div id="filterrific_results">
  <table class="table">
    <thead>
      <tr>
        <th>Code Snippits</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% posts.each do |post| %>
        <tr class="post_row">
          <td class="post_col post_description_col">
            <a href="<%= post_path(post) %>"><%= post.description %></a>
            <div class="post_user">
              Posted by <a href="<%= profile_path(post.user.id) %>"><%= post.user.username %></a> on <%= post.updated_at.strftime("%B %d, %Y") %>
            </div>
          </td>
          <td class="post_col">
            <% post.tags.each do |tag| %>
              <span class="label label-success"><%= tag.name %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= page_entries_info posts %>
</div>

<%= will_paginate posts %>