<%= bootstrap_form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :description, icon: "font" %>
  </div>

  <div class="field">
    <%= f.text_area :snippit, icon: "align-left" %>
  </div>

  <div class="large-10 large-centered columns">
    <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
