<p id="notice"><%= notice %></p>

<h1 class="text-center">Latest Postings</h1>
<br/>
<div class="well container">
  <legend>Filters:</legend>
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="col-xs-4">
      Search Posts
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed'
      ) %>
    </div>
    <div class="col-xs-4">
      Search Tags
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :tag_search_query,
        class: 'filterrific-periodically-observed'
      ) %>
    </div>
    <div class="col-xs-4">
      Sorted by
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
    </div>
  <%#  <div>
      <%= link_to(
        'Reset filters',
        reset_filterrific_url,
      ) %>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
  <% end %>

  <br>

  <%= render(
    partial: 'posts/feed',
    locals: { posts: @posts }
  ) %>
</div>